<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container" style='display: flex;justify-content: center;align-items: center;'>
    <p class="navbar-text">&copy; 2020 All Rights Reserved.</p>
  </div>
</nav>
<body>
    <!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>